/extlib/*
/log/
/screenshots/
/maptile/*
/modules/test_code/
/modules/qml/
/courses/.current
/courses/ridewithgps/*
/courses/*html*
/fonts/*
/.idea/
/.serena/
*.iml
/.vscode/
/.venv/
__pycache__/
*.py[cod]
*.qml
*.qmlc
*.db
*.fit
*.tcx
*.swp
*.lprof
*.o
*.so
a.out
setting.conf
state.pickle
layout.yaml
map.yaml
nohup.out
!.gitkeep
screenlog.*
gmon.out
.DS_Store
.lgd-nfy0
