/extlib/*
/log/
/screenshots/
/maptile/*
/modules/test_code/
/modules/qml/
/courses/.current
/courses/ridewithgps/*
/courses/*html*
/fonts/*
/scripts/*.py
/scripts/*/*.py
/scripts/*/*.yaml
/.idea/
/.serena/
*.iml
/.vscode/
/.venv/
/tmp/
/.tmp/
/tests/
__pycache__/
*.py[cod]
*.qml
*.qmlc
*.db
*.pdf
*.fit
*.tcx
*.swp
*.lprof
*.o
*.so
*.dtbo
a.out
setting.conf
state.pickle
layout.yaml
map.yaml
nohup.out
!.gitkeep
screenlog.*
gmon.out
.DS_Store
.lgd-nfy0
AGENTS.md
CLAUDE.md
