/extlib/
/log/
/screenshot/
/maptile/*/*.png*
/maptile/*/*/*.png*
/.idea/
/.vscode/
__pycache__/
*.py[cod]
*.qmlc
*.db
*.fit
*.tcx
*.swp
*.lprof
*.o
*.so
a.out
setting*
layout.yaml
map.yaml
nohup.out
!.gitkeep

