#for arch linux

[Unit]
Description=PizeroBikecomputer
#Requires=gpsd.service
#After=gpsd.service local-fs.target

[Service]
WorkingDirectory=
ExecStartPre=
ExecStart=
ExecStopPost=

User=
Group=
Type=simple
Restart=no
#Restart=on-failure

StandardOutput=
#StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
