#for arch linux

[Unit]
Description=PizeroBikecomputer
#Requires=gpsd.service
#After=gpsd.service local-fs.target

[Service]
WorkingDirectory=/home/pi/pizero_bikecomputer_v1
ExecStart=/home/pi/pizero_bikecomputer_v1/exec-service.sh

Restart=no
Type=simple

User=pi
Group=pi

[Install]
WantedBy=multi-user.target
